@{
    ViewData["Title"] = "Carga Masiva de Datos";
}

<h1>Carga Masiva de Datos desde Excel</h1>

<form asp-action="Index" asp-controller="ExcelImport" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label for="file" class="form-label">Selecciona un archivo Excel (.xlsx)</label>
        <input type="file" name="file" class="form-control" required/>
    </div>
    <button type="submit" class="btn btn-primary">Cargar</button>
</form>

@if (ViewBag.Log != null)
{
    <h3>Resultados de la importación:</h3>
    <ul>
        @foreach (var msg in ViewBag.Log)
        {
            <li>@msg</li>
        }
    </ul>
}